	

{% extends "dashboard/base.html" %}
{% load static %}
{% block title %} {{page_title}} {% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
				
  		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>DataTable</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="index.html">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											DataTable
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-md-6 col-sm-12 text-right">
								<div class="dropdown">
									<a
										class="btn btn-primary dropdown-toggle"
										href="#"
										role="button"
										data-toggle="dropdown"
									>
										تامین کننده
									</a>
									<div class="dropdown-menu dropdown-menu-right">
										
									       {% for supplier in suppliers %}
												<a class="dropdown-item" href="#">{{ supplier.name }}</a>
                                           {% empty %}
												<a class="dropdown-item" href="#">تأمین‌کننده‌ای وجود ندارد</a>
                                            {% endfor %}
									
									
									
									
									
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Export Datatable start -->
					<div class="card-box mb-30">
						<div class="pd-20">
							<h4 class="text-blue h4">لیست محصولات تامین کننده </h4>
						</div>
						<div class="pb-20">
							<table class="table hover multiple-select-row data-table-export nowrap">
								<thead>
									
									<tr>
										<th class="table-plus datatable-nosort">نام محصول </th>
										<th>قیمت</th>
										<th>Office</th>
										<th>Address</th>
										<th>Start Date</th>
										<th>Salart</th>
									</tr>
								</thead>
								<tbody>
									
									  {% for product in products %}
									    <tr>
											  <td class="table-plus">	{{ product.name.name }}</td>
										      <td>25</td>
										      <td>Sagittarius</td>
										      <td>2829 Trainer Avenue Peoria, IL 61602</td>
										      <td>29-03-2018</td>
										      <td>$162,700</td>
										</tr>
   									
                                           {% empty %}
									        <tr>
												<td colspan="6">	<a class="dropdown-item" href="#">تأمین‌کننده‌ای وجود ندارد</a></td>
											</tr>
										{% endfor %}
									
										
										
								
								
								</tbody>
							</table>
						</div>
					</div>
					<!-- Export Datatable End -->
				</div>
			
			</div>
		</div>

{% endblock %}

{% block extra_js %}
    <!-- js -->
	 <script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	
	<!-- buttons for Export datatable -->
	 <script src="{% static 'dashboard/vendors/src/plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
	 <script src="{% static 'dashboard/vendors/src/plugins/datatables/js/buttons.bootstrap4.min.js' %}"></script>
	 <script src="{% static 'dashboard/vendors/src/plugins/datatables/js/buttons.print.min.js' %}"></script>
	 <script src="{% static 'dashboard/vendors/src/plugins/datatables/js/buttons.html5.min.js' %}"></script>
	 <script src="{% static 'dashboard/vendors/src/plugins/datatables/js/buttons.flash.min.js' %}"></script>
	 <script src="{% static 'dashboard/vendors/src/plugins/datatables/js/pdfmake.min.js' %}"></script>
	 <script src="{% static 'dashboard/vendors/src/plugins/datatables/js/vfs_fonts.js' %}"></script>

	

	<!-- Datatable Setting js -->
     <script src="{% static 'dashboard/vendors/vendors/scripts/datatable-setting.js' %}"></script>



{% endblock %}











