{% extends "dashboard/base.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block page_heading %}
    {{ page_title }}
{% endblock %}

{% block content %}

<div class="container-fluid px-0">

    {% include "dashboard/pages/product_detail/_header.html" %}

    {% include "dashboard/pages/product_detail/_product_info.html" %}

    {% include "dashboard/pages/product_detail/_images.html" %}

    <div class="row g-4 mb-4">

        <div class="col-12 col-xl-8">
            {% include "dashboard/pages/product_detail/_specifications.html" %}
        </div>

        <div class="col-12 col-xl-4">
            {% include "dashboard/pages/product_detail/_tags.html" %}
        </div>

    </div>

    {% include "dashboard/pages/product_detail/_variants.html" %}

    {% include "dashboard/pages/product_detail/_price_history.html" %}

</div>

{% endblock %}
