# Virtual environment
venv/
.venv/
env/
ENV/
pyvenv.cfg
bin/
lib/
lib64


# Python
__pycache__/
*.py[cod]




# Django
*.log
logs/
db.sqlite3
media/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project data
data/
scrap_abdisite/data/
scrap_abdisite/data/edited/scrap_log.txt


staticfiles/