<aside class="dashboard-sidebar" id="dashboardSidebar">

    <div class="sidebar-brand">
        <a href="{% url 'dashboard:home' %}">
            بازبیا
        </a>
    </div>

    <nav class="sidebar-nav">

        <a
            class="sidebar-link"
            href="{% url 'dashboard:home' %}"
        >
            داشبورد
        </a>

        <div class="sidebar-title">
            تأمین‌کنندگان
        </div>

        {% for supplier in suppliers %}
    <a
        class="sidebar-link"
        href="{% url 'dashboard:supplier_products' supplier.slug %}"
    >
        {{ supplier.name }}
    </a>
{% empty %}
    <span class="sidebar-empty">
        تأمین‌کننده‌ای وجود ندارد
    </span>
{% endfor %}
    </nav>

</aside>