<aside class="sidebar">

    <ul>

        <li>
            <a href="{% url 'dashboard:dashboard' %}">
                <i class="bi bi-speedometer2"></i>
                داشبورد
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-box"></i>
                محصولات
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-grid"></i>
                دسته‌بندی‌ها
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-cart"></i>
                سفارش‌ها
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-people"></i>
                مشتریان
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-truck"></i>
                تأمین‌کنندگان
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-bar-chart"></i>
                گزارش‌ها
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-gear"></i>
                تنظیمات
            </a>
        </li>

    </ul>

</aside>