{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}
            داشبورد بازبیا
        {% endblock %}
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.rtl.min.css"
        rel="stylesheet"
    >

    <link
        rel="stylesheet"
        href="{% static 'dashboard/css/dashboard.css' %}"
    >

    {% block extra_css %}
    {% endblock %}
</head>

<body>

<div class="dashboard-layout">

    {% include "dashboard/partials/sidebar.html" %}

    <div class="dashboard-content">

        {% include "dashboard/partials/header.html" %}

        <main class="dashboard-main">
            {% include "dashboard/partials/messages.html" %}

            {% block content %}
            {% endblock %}
        </main>

    </div>

</div>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
></script>

<script src="{% static 'dashboard/js/dashboard.js' %}"></script>

{% block extra_js %}
{% endblock %}

</body>
</html>