{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}بازبیا{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="/">بازبیا</a></h1>
        <nav>
            <a href="{% url 'products:product_list' %}">محصولات</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© بازبیا</p>
    </footer>
</body>
</html>
