{% extends "core/base.html" %}

{% load static %}


  {% block style %}
        
  
  {% endblock %}
    


{% block title %}لیست محصولات{% endblock %}

{% block content %}

<!-- Page Header Start -->
<div class="container my-4">
  <div class="d-flex flex-nowrap overflow-auto gap-3 py-2">

    {% for category in categories %}
      <div class="card text-center flex-shrink-0" style="min-width: 140px; border: none;">
        <a href="" class="text-decoration-none text-dark">
          <div class="card-body p-2">
            {% if category.image %}
              <img src="{{ category.image.url }}" class="rounded mb-2" width="60" height="60" alt="{{ category.title }}">
            {% else %}
              <img src="{% static 'images/default-category.jpg' %}" class="rounded mb-2" width="60" height="60" alt="{{ category.title }}">
            {% endif %}
            <h6 class="small">{{ category.title }}</h6>
          </div>
        </a>
      </div>
    {% endfor %}

  </div>
</div>



<!-- Page Header End -->


<h2 class="text-center fw-bold my-4 fs-4">محصولات</h2>


{% endblock %}